<!doctype html>
<html dir="ltr" lang="{{ site.noita.lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sta 101</title>

  <link rel="stylesheet" href="{{site.baseurl}}/noita/foundation/css/normalize.css">
  <link rel="stylesheet" href="{{site.baseurl}}/noita/foundation/css/foundation.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  {% for stylesheet in site.noita.stylesheets %}
    <link rel="stylesheet" href="{{site.baseurl}}{{ stylesheet }}">
  {% endfor %}

  <script src="{{site.baseurl}}/noita/foundation/js/vendor/modernizr.js"></script>
</head>
<body>

  <div class="top-bar" data-topbar id="topbar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="{{site.baseurl}}">{{ site.noita.name }}</a></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#topbar"><span>{{ site.noita.topbar.toggle }}</span></a>
      </li>
    </ul>
    <div class="top-bar-section">
      {% if site.noita.topbar.right %}
      <ul class="right">
      {% for item in site.noita.topbar.right %}
        <li{% if item.class %} class="has-form"{% endif %}>
          {% if item.absolute %}
            <a href="{{ item.url }}" class="{{ item.class }}">{{ item.name }}</a>
          {% else %}
            <a href="{{site.baseurl}}{{ item.url }}" class="{{ item.class }}">{{ item.name }}</a>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="column">
      <h2>{{ page.title }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <hr>
    </div>
  </div>

  {{ content }}

  <div class="row">
    <div class="column">
      <hr>
    </div>
    <div class="small-4 columns">
      <p class="text-right menu-icon"><a href="#topbar">&#x25B2;</a></p>
    </div>
  </div>

  <script src="{{site.baseurl}}/noita/foundation/js/vendor/jquery.js"></script>
  <script src="{{site.baseurl}}/noita/foundation/js/vendor/fastclick.js"></script>
  <script src="{{site.baseurl}}/noita/foundation/js/foundation.min.js"></script>
  <script>$(document).foundation();</script>

  {% for javascript in site.noita.javascripts %}
    <script src="{{site.baseurl}}{{ javascript }}"></script>
  {% endfor %}
</body>
</html>
